#banner {
    width:100%;
}

.principal{
    background: #CCCCCC;
    padding: 30px;

}

nav {
    display: inline;
    position: relative;

}

header ul{

    float: left;
    display: inline;

}

header ul li{
    float: right;
    padding-bottom: 100px;

}
.titulo-principal {
    padding-left: 20px;
    font-size: 60px;
    text-align: left;
    background-color: crimson;
    padding: 50px;
}

.titulo-centralizado {
    text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: #FF0000;
}

.itens {
    font-style: italic
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 10px 0;
}